[class*=__container] {
  max-width: 79.375rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

body {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  background-color: #3f3d3d;
  color: #ffffff;
}

.button {
  position: relative;
  font-weight: 700;
  font-size: 1.375rem;
}
@media (max-width: 47.99875em) {
  .button {
    font-size: 1.125rem;
  }
}
.button::before {
  content: "";
  width: 0;
  height: 0.1875rem;
  background-color: #508d26;
  position: absolute;
  border-radius: 1.25rem;
  bottom: -0.3125rem;
  left: 0;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
@media (max-width: 47.99875em) {
  .button::before {
    height: 0.125rem;
  }
}
@media (any-hover: hover) {
  .button:hover {
    color: rgba(255, 255, 255, 0.5);
  }
  .button:hover::before {
    width: 100%;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
  }
}

.title {
  font-size: 2.625rem;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
}
@media (max-width: 47.99875em) {
  .title {
    font-size: 2rem;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

@font-face {
  font-family: "fonts";
  src: url("../fonts/fonts.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "fonts" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-linkedin:before {
  content: "\e900";
}

._icon-figma:before {
  content: "\e908";
}

._icon-sass:before {
  content: "\e901";
}

._icon-js:before {
  content: "\e902";
}

._icon-html:before {
  content: "\e903";
}

._icon-viber:before {
  content: "\e904";
}

._icon-telegram:before {
  content: "\e905";
}

._icon-github:before {
  content: "\e906";
}

._icon-git:before {
  content: "\e907";
}

@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
.header__wrapper {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: auto;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  padding: 1.0625rem 0;
}
.header__logo {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 700;
  text-transform: capitalize;
}
.nav-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}
.nav-header__link {
  font-size: 1.875rem;
  padding: 0.3125rem 0.625rem;
  margin: -0.3125rem -0.625rem;
}

.hero__container::after {
  content: "";
  margin: 3.75rem 0;
  width: 100%;
  height: 0.125rem;
  background-color: #807f7f;
  border-radius: 50%;
}
@media (max-width: 47.99875em) {
  .hero__container::after {
    margin: 1.875rem 0;
  }
}
.hero__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}
@media (max-width: 47.99875em) {
  .hero__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.hero__info {
  margin-top: 5.625rem;
}
@media (max-width: 47.99875em) {
  .hero__info {
    margin-top: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.hero__image {
  max-width: 31.25rem;
  border-radius: 0 0 0.3125rem 0.3125rem;
  overflow: hidden;
  position: relative;
  z-index: -1;
  aspect-ratio: 1/1.5;
  max-width: 400px;
}
.hero__image > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.info-hero {
  padding: 2.5rem 0;
  margin-right: -3.125rem;
}
@media (max-width: 47.99875em) {
  .info-hero {
    padding: 1.25rem 0;
    margin-right: 0rem;
  }
}
.info-hero__title {
  font-size: 2.625rem;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 1.875rem;
}
@media (max-width: 47.99875em) {
  .info-hero__title {
    font-size: 1.5rem;
  }
}
.info-hero__title > span {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}
.info-hero__title > span::before {
  content: "";
  width: 100%;
  height: 0.1875rem;
  background-color: #508d26;
  position: absolute;
  border-radius: 1.25rem;
  bottom: -0.125rem;
  left: 0;
}
.info-hero__text {
  margin-bottom: 2.5rem;
  color: rgba(255, 255, 255, 0.6);
  max-width: 40.625rem;
  padding-right: 3.125rem;
  line-height: 1.2;
  font-size: 1.25rem;
}
@media (max-width: 47.99875em) {
  .info-hero__text {
    margin-bottom: 1.875rem;
    padding-right: 0rem;
    font-size: 1rem;
  }
}
.skills__container {
  margin-bottom: 3.75rem;
}
.skills__title {
  margin-bottom: 3.75rem;
}
.skills__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 3.125rem;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
}
@media (max-width: 47.99875em) {
  .skills__row {
    row-gap: 1.875rem;
  }
}
@media (max-width: 31.25em) {
  .skills__row {
    row-gap: 1.875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.skills__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
  font-size: 2.625rem;
}
@media (max-width: 47.99875em) {
  .skills__block {
    font-size: 1.5rem;
  }
}
.skills__block:before {
  font-size: 3.75rem;
}
@media (max-width: 47.99875em) {
  .skills__block:before {
    font-size: 2.25rem;
  }
}
.skills__block:nth-child(1):before {
  color: #e34f26;
}
.skills__block:nth-child(2):before {
  color: #cc6699;
}
.skills__block:nth-child(3):before {
  color: #f7df1e;
}
.skills__block:nth-child(4):before {
  color: #f05033;
}
.skills__block:nth-child(5):before {
  color: #f24e1e;
}
.skills__block:nth-child(6):before {
  color: #181717;
}

.progects {
  padding-bottom: 3.75rem;
}
.progects__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.progects__title {
  text-align: center;
  margin-bottom: 3.75rem;
}
.progects__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.block-progects {
  background-color: #fff;
  border-radius: 1.25rem;
  overflow: hidden;
  border: 0.125rem solid #508d26;
}
.block-progects__title {
  font-size: 1.25rem;
  font-style: italic;
  color: #000;
  font-weight: 700;
  padding: 0.9375rem;
  position: relative;
}
.block-progects__images {
  position: relative;
  width: 24.6875rem;
  height: 15.625rem;
}
@media (max-width: 26.5em) {
  .block-progects__images {
    width: 18.125rem;
    height: 12.5rem;
  }
}
.block-progects__images > img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}
.block-progects__images > img:nth-child(1) {
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 21.875rem;
}
.block-progects__images > img:nth-child(2) {
  top: 0rem;
  right: 0.9375rem;
  z-index: 2;
  width: 8.125rem;
}
.block-progects__images > img:nth-child(3) {
  bottom: 0;
  right: 0;
  z-index: 2;
  width: 4.375rem;
}