.header {
  // .header__wrapper

  &__wrapper {
  }

  // .header__container

  &__container {
  }

  // .header__row

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: toRem(20);
    padding: toRem(20) 0;
  }

  // .header__logo

  &__logo {
    font-size: toRem(24);
    font-style: italic;
    font-weight: 700;
    text-transform: capitalize;
  }

  // .header__nav

  &__nav {
  }
}
.nav-header {
  // .nav-header__list

  &__list {
    display: flex;
    align-items: center;
    gap: toRem(20);
  }

  // .nav-header__item

  &__item {
  }

  // .nav-header__link

  &__link {
    font-size: toRem(20);
    padding: toRem(5) toRem(10);
    margin: toRem(-5) toRem(-10);
  }
}
